<h1> Welcome home <%= @trainer.username %></h1>
<img src="https://static.giantbomb.com/uploads/scale_super/0/1481/2897229-9939923796-latest" alt="image" height="150" width = "500"
class="center">
<img class="center" src="http://gran4u.xtgem.com/Pokedex.png" alt="image" > 