<h1>Welcome Trainer!</h1>
<h2>Youre a fucking loser!</h2>

<h2>Please sign up to start your journey!</h2>
<form action="/signup" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" id="username"> <br>

  <label for="username">Password</label>
  <input type="password" name="password" id="password">

  <input type="submit" value="Let's go!">
</form>
<form action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username"> <br>

  <label for="username">Password</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Login">
</form>


